@charset "utf-8";
/*
   sample start file for final project - educational use only

   Author: Samantha Dotson
   Date:11.15.2021



*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 930px;
    border-width: 1px;
    margin: 0 auto;

}


header
    { width: 500px;	/* reduced by 20px to accommodate shadow */
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: Center;
    border: white;
    box-shadow: none;
    border-radius: 25px;
}




nav {
    width: 200px;
    margin: 0 5px 0 5px;
    padding: 25px 10px 0 10px;
    float: left;
    text-align: center;
}

nav ul {
    font-weight: bold;
    list-style: none;
}

nav ul li a {
    padding: 5px;
    color: white;
    text-decoration: none;
    display:block;
}

nav ul li a:hover {
    background: gray;
    border-radius: 10px;
    color: white;
}

#main {
    width: 446px;
    padding: 10px;
    float: left;
    color: white;
    border-left: 2px solid;
    border-right: 2px solid;
}

#main p {
    text-indent: 1.5em;


}

figure{
    width: 25px;
    padding-top: 10px;
    text-align: center;
}

figcaption {
    font-style: italic;
    color: white;
}

aside {
    width: 200px;
    margin: 0 5px 0 5px;
    padding: 10px;
    float: right;
    color: white;
}

aside p {
    font-style: italic;
    font-size: 0.9em;
}

h2 {
    font-size: 1.4em;
    text-align: center;
    padding-bottom: 0.5em;
}

h3 {
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;

}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}


footer {
    width: 910px;
    margin: 0;
    padding: 10px;
    background-color: black;
    clear: both;
    color: white;
    font-weight: bold;
    text-align: center;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

#wrapper {
    width: 930px;
    margin-bottom: 10px;
    border: 2px solid;
    border-radius: 25px;
}

/* navigation for footer */
footer a:link {
    color: white;
    text-decoration: none;
}

footer a:visited {
    color: white;
    background-color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
