@charset "utf-8";
/*
   sample start file for final project - educational use only

   Author:
   Date:



*/


* {
    margin: 0;
    padding: 0;
}



#container {
    width: 930px;
    border-width: 1px;
    margin: 0 auto;
    background-color: none;
    background: rgb(197,222,234); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(197,222,234) 23%, rgb(197,222,234) 23%, rgb(138,187,215) 57%, rgb(6,109,171) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgb(197,222,234) 23%,rgb(197,222,234) 23%,rgb(138,187,215) 57%,rgb(6,109,171) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(197,222,234) 23%,rgb(197,222,234) 23%,rgb(138,187,215) 57%,rgb(6,109,171) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 ); /* IE6-9 */


}


header {
    width: 910px;	/* reduced by 20px to accommodate shadow */
    margin-bottom: 60px;
    margin-top: 30px;
    text-align: center;
    border: 1px solid #888888;
    box-shadow: 15px 15px 5px 0 #888888;
    border-radius: 25px;
}


nav {
    width: 200px;
    margin: 0 5px 0 5px;
    padding: 25px 10px 0 10px;
    float: left;
    text-align: center;
}

nav ul {
    font-weight: bold;
    list-style: none;
}

nav ul li a {
    padding: 5px;
    color: black;
    text-decoration: none;
    display:block;
}

nav ul li a:hover {
    background: gray;
    border-radius: 10px;
    color: white;
}

#main {
    width: 446px;
    padding: 10px;
    float: left;
    color: black;
    border-left: 2px solid;
    border-right: 2px solid;
    background-image: ;
}

#main p {
    text-indent: 1.5em;
}

figure{
    padding-top: 10px;
    text-align: center;
}

figcaption {
    font-style: italic;
}

aside {
    width: 200px;
    margin: 0 5px 0 5px;
    padding: 10px;
    float: right;
}

aside p {
    font-style: italic;
    font-size: 0.9em;
}



<style>
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:4px 20px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:4px 20px;word-break:normal;}
.tg .tg-ycr8{background-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-86j3{background-color:#3166ff;font-size:22px;text-align:center;vertical-align:top}
</style>

h2 {
    font-size: 1.4em;
    text-align: center;
    padding-bottom: 0.5em;
}

h3 {
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

footer {
    width: 910px;
    margin: 0;
    padding: 10px;
    background-color: black;
    clear: both;
    color: white;
    font-weight: bold;
    text-align: center;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

#wrapper {
    width: 930px;
    margin-bottom: 10px;
    border: 2px solid;
    border-radius: 25px;
}/* navigation for footer */
footer a:link {
    color: white;
    text-decoration: none;
}

footer a:visited {
    color: navy;
    background-color: grey;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
